[buildout]
index = http://dist.repoze.org/lemonade/dev/simple
find-links = http://pypi.python.org/pypi/zope.component/3.6.0
extends = versions.cfg
versions = versions
develop = ../zopen.cms
parts = 
     libxml2
     libxslt
     lxml
     bfg

[lxml-environment]
XSLT_CONFIG=${buildout:directory}/parts/libxslt/bin/xslt-config
XML2_CONFIG=${buildout:directory}/parts/libxml2/bin/xml2-config

[lxml]
recipe = zc.recipe.egg:custom
egg = lxml
include-dirs = ${libxml2:location}/include/libxml2
               ${libxslt:location}/include
library-dirs = ${libxml2:location}/lib
               ${libxslt:location}/lib
rpath = ${libxml2:location}/lib
        ${libxslt:location}/lib
environment = lxml-environment

[libxml2]
recipe = zc.recipe.cmmi
url = http://dist.repoze.org/lemonade/dev/cmmi/libxml2-2.6.32.tar.gz
extra_options = --without-python

[libxslt]
recipe = zc.recipe.cmmi
url = http://dist.repoze.org/lemonade/dev/cmmi/libxslt-1.1.24.tar.gz
extra_options = --with-libxml-prefix=${libxml2:location} 
                 --without-python

[lxml]
index = http://dist.repoze.org/lemonade/dev/simple
recipe = zc.recipe.egg:custom
egg = lxml
include-dirs = ${libxml2:location}/include/libxml2
               ${libxslt:location}/include
library-dirs = ${libxml2:location}/lib
               ${libxslt:location}/lib
rpath = ${libxml2:location}/lib
        ${libxslt:location}/lib

[bfg]
index = http://dist.repoze.org/lemonade/dev/simple
recipe = repoze.recipe.egg
eggs = repoze.bfg
       zope.component>=3.6.0
interpreter = python-bfg

